.bookshr{
    background-color: rgb(156, 153, 153);
    height: 3px;
    display: block;
    margin: 0;
    margin-top: 2px;
}

.indiviualbook{
    display: flex;
    align-items: center;
    padding: 0.8rem;
    gap: 1rem;
   
    box-shadow: 2px 0px 2px 5px rgb(240, 239, 239);
}
.leftsidelist{
    background-color: rgb(7, 138, 138);
    border-radius: 50%;
    width: 60px ; 
     height: 60px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentleftside{
    font-size: 1.5rem;
    font-weight: 800;
    
}
.btnbook,.upperright{
    color: black;
}
.upperright{
    font-size: 1.5rem;
    /* margin-left:1rem ; */
    margin-left: 0.5rem;

    /* padding-left:1rem ; */
}
.btnbook{
    padding: 0.8rem 1rem;
    border-radius: 20px;
    border: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    border: 1px solid green;
    background-color: transparent;

}

.btnbook:hover {
    background-color: green;
    color: white;
    transition: all 0.2s linear;
}
.btnbook:hover .downloadbtn{
    color: white;
    fill: white;
    transition: all 0.2s linear;

}
.rightsidelist{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* margin-left:1rem ; */
}
.lowerright{
    display: flex;
    gap: 0.8rem;
}