:root{
  --primaryc:#54acf5;
}
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: rgba(190, 190, 190, 0.869);
  border-radius: 8px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar,.left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar{
  background-color: #54acf5;
  padding: 1rem 0.5rem ;
  position: sticky;
  top: 0;
}

.name{
  color: white;
  margin: 0;
  font-size:20px;
}
.center{
  background-color: #54acf5;
  /* max-width: 500px; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  display: none;
  position: sticky;
  top:77px;

}
.open{
  display: flex;
}
.nav-links{
  list-style-type: none;
  text-decoration:none;
  color: white;
  line-height: 3rem;
  width: fit-content;
  /* position: fixed; */
  font-size: 1.5rem;
 
}
.menubar-navlink{
  display: none;
}
.nav-links:hover{
            border-bottom: 2px solid white;
            transition: all 0.1s linear;
}

.bignav{
  position: sticky;
  top: 0;
  z-index: 1;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .name{
    font-size: 1.5rem;
  }
 
}
@media screen and (min-width:1024px) and (max-width:1300px) {
  .menu{
    display: none;
  }
  .nav-links{
    font-size: 1.5rem;
     }
  .name{
    font-size: 1.8rem;
  }
  .center{
    display: flex ;
    flex-direction: row;
    align-items: center;
  gap: 2rem;

    
  }
  .bignav{
    display: flex;
    width: 100%;
    background-color: #54acf5;
    justify-content: space-around;
  }
}
@media screen and (min-width:1300px) and (max-width:1500px) {
  .menu{
    display: none;
  }
  .star,.user{
    width: 40px;
    height: 40px;
  }
  .name{
    font-size: 2rem;
  }
  .center{
    display: flex ;
    flex-direction: row;
    align-items: center;

  gap: 2rem;

  }
  .bignav{
    display: flex;
    width: 100%;
    background-color: #54acf5;
    justify-content: space-around;
  }
}
@media screen and (min-width:1500px){
  .menu{
    display: none;
  }
  .star,.user{
    width: 40px;
    height: 40px;
  }
  .name{
    font-size: 2rem;
  }
  .center{
    display: flex ;
    flex-direction: row;
    align-items: center;
  gap: 2rem;


  }
  /* .nav-links,.link{
    display: flex;
  } */
  .left{
    display: flex;
    gap: 0.5rem;
  }
  .right{
    padding:0 1rem 0 0  ;
    display: flex;
    gap:0.2rem;
  }
  .bignav{
    display: flex;
    width: 100%;
    background-color: #54acf5;
    justify-content: space-around;
  }
}