:root{
  --primaryc:#54acf5;
}
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: rgb(255, 205, 112);
  border-radius: 8px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar,.left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar{
  background-color: #54acf5;
  padding: 1rem 0.5rem ;
  position: sticky;
  top: 0;
}

.name{
  color: white;
  margin: 0;
  font-size:20px;
}
.center{
  background-color: #54acf5;
  /* max-width: 500px; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  display: none;
  position: sticky;
  top:77px;

}
.open{
  display: flex;
}
.nav-links{
  list-style-type: none;
  text-decoration:none;
  color: white;
  line-height: 4rem;
  font-size: 2rem;
 margin-left:2rem ;
}
.menubar-navlink{
  display: none;
}
.nav-links:hover::before{
            content: "\f068";
            font-family: "Font Awesome 5 Free";
            font-weight:900;
            color: #b0ddff;
            margin-right:0.5rem ;
}

.bignav{
  position: sticky;
  top: 0;
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .name{
    font-size: 1.5rem;
  }
  .nav-links:hover::before{
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight:900;
    color: #b0ddff;
    margin-right:0.5rem ;
}
}
@media screen and (min-width:1024px) and (max-width:1300px) {
  .menu{
    display: none;
  }
  .nav-links{
    font-size: 1.5rem;
    margin-left: 1.2rem;
  }
  .name{
    font-size: 1.8rem;
  }
  .center{
    display: flex ;
    flex-direction: row;
    
  }
  .bignav{
    display: flex;
    width: 100%;
    background-color: #54acf5;
    justify-content: space-around;
  }
}
@media screen and (min-width:1300px) and (max-width:1500px) {
  .menu{
    display: none;
  }
  .star,.user{
    width: 40px;
    height: 40px;
  }
  .name{
    font-size: 2rem;
  }
  .center{
    display: flex ;
    flex-direction: row;
  }
  .bignav{
    display: flex;
    width: 100%;
    background-color: #54acf5;
    justify-content: space-around;
  }
}
@media screen and (min-width:1500px){
  .menu{
    display: none;
  }
  .star,.user{
    width: 40px;
    height: 40px;
  }
  .name{
    font-size: 2rem;
  }
  .center{
    display: flex ;
    flex-direction: row;
  }
  /* .nav-links,.link{
    display: flex;
  } */
  .left{
    display: flex;
    gap: 0.5rem;
  }
  .right{
    padding:0 1rem 0 0  ;
    display: flex;
    gap:0.2rem;
  }
  .bignav{
    display: flex;
    width: 100%;
    background-color: #54acf5;
    justify-content: space-around;
  }
}